@import "../../const/color";

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  label {
    color: #333;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
    width: 100%;
  }
  input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 8px;
    background-color: white;
    border: 1px solid $input-border;
    border-radius: 4px;
    color: $primary-text;
    &:focus {
      border: 1px solid $input-forcus;
      outline: none;
    }
  }
  span {
    font-size: 12px;
    color: red;
    text-align: left;
    padding-left: 8px;
  }
}
