@import "../../const/color";
.list-number-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  .number-container {
    width: 34px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 14px;
    color: $primary-text;
    border: 1px solid $question-border;
    background: $question-background;
    cursor: pointer;
    &:hover {
      background-color: $question-hover;
    }
  }

  .current {
    background-color: $question-selected;
  }

  .answered {
    background-color: $question-answered;

    &:hover {
      background-color: $question-answered;
    }
  }
}
