.card {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  width: 100%;
  height: 320px;
  overflow-y: scroll;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  p {
    color: #333;
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
  }

  label {
    display: block;
    margin: 4px 0;
    font-size: 14px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 5px;
  }

  .card-answer {
    display: flex;
    p {
      text-align: left;
    }
  }
}
