$button-primary: rgb(86, 69, 161);
$button-primary-hover: rgb(62, 45, 98);
$button-primary-loading: rgb(129, 111, 205);

$button-secondary: #6c757d;
$button-secondary-hover: #60676d;

$input-primary: #ccc;
$input-forcus: black;
