@import "../../const/color";

button {
  color: #fff;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.primary {
  background-color: $button-primary;
  &:hover {
    background-color: $button-primary-hover;
  }
}

.loading {
  cursor: context-menu;
  background-color: $button-primary-loading;
  &:hover {
    background-color: $button-primary-loading;
  }
}

.sm {
  padding: 10px 20px;
  font-size: 12px;
}
.md {
  padding: 12px 34px;
  font-size: 14px;
}
.lg {
  padding: 12px 50px;
  font-size: 16px;
}
